<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
  <md-toolbar color="primary">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
    <span>Bibelschule Stephanus</span>

    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>

    <button md-icon-button [mdMenuTriggerFor]="themeMenu">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened>

      <md-tab-group>
        <md-tab label="Benutzer">
          <md-nav-list>
            <md-list-item *ngFor="let account of accounts" (click)="selectedAccount = account">
              <md-icon svgIcon="avatars:{{account.avatar}}" class="avatar"></md-icon>
              <span>{{account.name}}</span>
            </md-list-item>
          </md-nav-list>
        </md-tab>
        <md-tab label="Einstellungen">
          <span>Einstellungen</span>
        </md-tab>
      </md-tab-group>

    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">

      <md-card fxFlex="80">
        <md-icon svgIcon="avatars:{{selectedAccount.avatar}}" class="avatar"></md-icon>
        <h2>{{selectedAccount.name}}</h2>
        <p>{{selectedAccount.details}}</p>
      </md-card>

      <md-card fxFlex fxLayout="column" fxLayoutGap="14px">
        <md-slide-toggle [(ngModel)]="selectedAccount.isAdmin">Ist Administrator?</md-slide-toggle>
        <md-slide-toggle [(ngModel)]="selectedAccount.isTeacher">Is Lehrer?</md-slide-toggle>
        <md-slide-toggle [(ngModel)]="selectedAccount.isManager">Is Verwalter?</md-slide-toggle>
      </md-card>

    </div>
  </md-sidenav-container>

  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </md-menu>

  <button md-fab (click)="openProfile()" class="fab-bottom-right">
    <md-icon>add</md-icon>
  </button>

</div>
